*{
    margin: 10;
    padding: 15px 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
background-color: bisque;}

    .btn button {
        background-color: orange;
        color: white;
        border-radius: 30px;
        font-size: medium;
        cursor: pointer;
    }

    .txt-inicio{
        align-items: flex-end;
        padding: 10px;
       display:flexbox; 
        
    }